#block1{
    position: fixed;
    left: 0;
    top: 0;
}

#block2{
    position: fixed;
    right: 0;
    top: 0;
}

#block3{
    position: fixed;
    left: 0;
    bottom: 0;
}

#block4{
    position: fixed;
    right: 0;
    bottom: 0;
}